* {
    background-color: #0e9594;
    color: #c2cae8;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: 1px solid  #c2cae8;
    border-radius:  10px;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
}

.score-container {
    display: inline-block;
    padding: 20px;
}

#highscore {
    text-decoration: none;
    color: black;
}

#highscores-list {
    list-style: none;
    font-size: large;
}

#start {
    border: 5px solid  #c2cae8;
    border-radius:  10px;
    font-size: large;
    font-weight: bold;
}


#start-screen {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 30%;
}

#timer {
    margin-left: 6px;
    font-size: larger;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time-container {
    padding-left: 75%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.wrong{
    font-weight: bolder;
    color: white;
    background-color: red;
    border: 5px solid red;
    border-radius:  10px;
    margin: 0 450px;
}

.correct{
    font-weight: bolder;
    color: white;
    background-color: green;
    border: 5px solid green;
    border-radius:  10px;
    margin: 0 450px;
}



#start:hover {
    border: 5px solid  #c2cae8;
    border-radius:  10px;
    font-size: large;
    font-weight: bold;
    background-color: #c2cae8;
    color: #0e9594;
}

button:hover {
    border: 1px solid  #c2cae8;
    border-radius:  10px;
    font-size: large;
    font-weight: bold;
    background-color: #c2cae8;
    color: #0e9594;
}